.searchboxTxt {
    padding: 0;
    margin: 0;
    border: none;
    background: #EEE;
    padding: 7.5px;
    border-radius: 15px;
    transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.searchboxTxt:hover {
    background: var(--colorWhite);
}

.searchboxTxt:focus {
    background: var(--colorWhite);
    outline:0;
}