ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--colorPrimary);
    line-height: 30px;
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
    padding: 20px 16px;

  }
  
  li a {
    color: var(--colorWhite);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }
  
  li a:hover {
    color: var(--colorAccent);
  }