ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D32A31;
    -webkit-box-shadow: 0px 16px 17px -14px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 16px 17px -14px rgba(0,0,0,0.38);
    box-shadow: 0px 16px 17px -14px rgba(0,0,0,0.38);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
  }
  
  li:hover {
    background: rgb(195, 39, 44);
  }

  li a:hover {
    color: #FFF;
  }